<script src="https://kit.fontawesome.com/c7517b02c8.js" crossorigin="anonymous"></script>

<div class="card-body">
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Mail</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
           <td>{{ user.id }}</td>
           <td>{{ user.prenom }}</td>
           <td>{{ user.nom }}</td>
           <td>{{ user.mail }}</td>
           <td class="buttons">
              <i (click)="deleteUser(user)" type="button" class="fas fa-trash fa-2x pull-right"></i> 
              <i (click)="editUser(user)"  type="button" class="fas fa-edit fa-2x pull-right"></i>
              <i (click)="findUser(user.id)" type="button" class="fas fa-info-circle fa-2x pull-right"></i>    
           </td>
         </tr>
     </tbody>
    </table>
  </div>
