table {
    border: 0px;
}
.thead{
    color: #E85A4F; 
    border: 0px;
}

th{
    border: none; 
}

td{
    border-bottom: 1px #818d92 solid; 
}

tbody{
    background-color: #e7d5bb; 
    color: #353534; 

}

.buttons button {
    margin-right: 15px;
}

mat-icon{
    font-size: 36px;
}
