<script src="https://kit.fontawesome.com/c7517b02c8.js" crossorigin="anonymous"></script>

<div class="card-body">
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="prenom" >Prénom</th>
          <th scope="col" sortable="nom" >Nom</th>
          <th scope="col" sortable="age" >Mail</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
           <td>{{ user.id }}</td>
           <td>{{ user.prenom }}</td>
           <td>{{ user.nom }}</td>
           <td>{{ user.mail }}</td>
           <td class="buttons">
              <button mat-icon-button (click)="findUser(user.id)">
                  <mat-icon>info</mat-icon>
              </button> 
            
              <button mat-icon-button (click)="editUser(user)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button (click)="deleteUser(user)">
                <mat-icon>delete</mat-icon>
              </button>
           </td>
         </tr>
     </tbody>
    </table>