<p>* = Champs obligatoires</p>

<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        
        <!-- Nom -->
        <div class="form-group">
          <label for="nom">Nom*</label>
          <input type="text" [(ngModel)]="user.nom" 
            class="form-control" id="nom" name="nom" placeholder="Nom"
            required #nom="ngModel">
        </div>

        <!-- Prénom -->
        <div class="form-group">
            <label for="prenom">Prénom*</label>
            <input type="text" [(ngModel)]="user.prenom" 
              class="form-control" id="prenom" name="prenom" placeholder="Prénom"
              required #prenom="ngModel">
           
          </div>

          <!-- Email -->
        <div class="form-group">
          <label for="email">Mail*</label>
          <input type="text" [(ngModel)]="user.mail" 
            class="form-control" id="mail" name="email" placeholder="Adresse mail"
            required #email="ngModel">
         
        </div>

        <!-- Âge -->
        <div class="form-group">
          <label for="age">Date de naissance*</label>
          <div class="input-group">
            <input class="form-control" placeholder="dd/mm/yyyy" [minDate]="minDate"
                   name="age" id="age" [(ngModel)]="user.age" ngbDatepicker #d="ngbDatepicker"
                   required #age="ngModel">
            <div class="inpt-group-append">
              <i (click)="d.toggle()" type="button" class="fas fa-calendar-alt fa-2x pull-right"></i> 
            </div>
          </div>

            <!-- 
            <label for="age">Âge*</label>
            <input type="text" ngbDatepicker [(ngModel)]="user.age"
              class="form-control" id="age" name="age"
              required #age="ngModel" />
            -->
        </div>
            
        <!-- Adresse -->
        <div class="form-group">
            <label for="adresse">Adresse*</label>
            <input type="text" [(ngModel)]="user.adresse" 
              class="form-control" id="adresse" name="adresse" placeholder="Adresse"
              required #adresse="ngModel">
              
          </div>

          <!-- Téléphone -->
          <div class="form-group">
              <label for="telephone">Téléphone*</label>
              <input type="text" [(ngModel)]="user.telephone" 
                 class="form-control" id="telephone" name="telephone" placeholder="Téléphone"
                required #telephone="ngModel">
               
            </div>

      <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>  
    </form>
  </div>
</div>