<div class="container">
  <div class="row">
    <div class="w-100 p-3">
      <div class="card my-5">
        <div class="card-body">
          <h2 class="card-title text-center py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/users" class="btn">Liste des utilisateurs</a></li>
            <li class="list-inline-item"><a routerLink="/adduser" class="btn">Ajouter un utilisateur</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>